<!DOCTYPE html>
<html>
    <header>

    </header>
    <body>
        {{> header}}
        <h1>My name is...</h1>
        <h2 id="message-1"></h2>
        <h2 id="message-2"></h2>
        <form>
            <input type="number">
            <button type="submit">User number</button>
        </form>
        <script type="text/javascript" src="/js/index.js"></script>
        
    </body>
</html>