<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {{> header }}
        <h1>Hello World</h1>
        <form action="/users" method="POST">
            <p>Name: <input name="name" type="text"></p>
            <p>Age: <input name="age" type="number"></p>
            <button type="Submit">Create User</button>
        </form>
    </body>
</html>